@media(max-width:1200px){
    html{
        font-size: 15px;
    }

    .site-logo img {
        max-width: 150px;
    }
    .main-nav ul li {
        margin: 0px 10px;
    }
}
@media(max-width:992px){
    .close, .toggle{
        display: block;

    }
    .toggle{
        font-size: 25px;
        color: #000;
        padding-left: 20px;
        line-height: normal;

    }
    .close{
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .main-nav ul {
        flex-direction: column;
        /* align-items: self-start; */
    }
    .main-nav ul li {
        margin: 10px  0;
    }
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        background: #ffffff;
        height: 100vh;
        z-index: 9;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;

}
    .menuToggle .main-nav{
        transform: translateY(0%);
        transition: all 0.3s ease-in-out;

}
.site-logo {
    width: auto;
}
.header-right {
    width: auto;
}
.site-banner {
    z-index: 1;
    display: none;
}
}
@media(max-width:850px){
    html{
        font-size: 14px
    }
    .arrivals-img {
        height: 200px;
        padding: 15px;
    }
    .link-wrap, .news-img a {
        height: 350px;
    }
    .footer-logo img {
        max-width: 160px;
    }
}
@media(max-width:767px){
    
    .site-logo img {
        max-width: 150px;
    }

    .ptb-50 {
        padding: 30px 0;
    }

    .footer-wrap {
        flex-direction: column-reverse;
    }
    .footer-links {
        margin-bottom: 10px;
    }
    .arrivals-img, .news-img a{
        height: auto;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
    .footer-heading h4 {
        margin-bottom: 15px;
    }
    .site-footer .col-md-4 {
        margin-bottom: 20px;
    }
    .site-footer .col-md-4:last-child{
        margin-bottom: 0;
    }
    .arrivals-wrap {
        margin-bottom: 30px;
    }
}
@media(max-width:575px){
    .news-form button {
        width: 30%;
        height: 41px;
        margin-top: 15px;
    }
    .news-form input {
        width: 100%;
    }
    .search-icon{
        display: block;
}
.serch-bar {
    display: none;
}
.user-cart ul li a {
    font-size: 22px;
    padding-left: 20px;
}
.site-heading {
    margin-bottom: 20px;
}
.link-wrap {
    height: 300px;
}
}
@media(max-width:374px){
    html{
        font-size: 13px;
    }
    .site-logo img {
        max-width: 130px;
    }
    .toggle {
        font-size: 22px;
    }
    .user-cart ul li a {
        font-size: 20px;
        padding-left: 14px;
    }
    .newsletter-wrap {
        padding: 30px 15px;
    }
    section.newsletter {
        background: #e8e8e8;
        padding: 30px 0;
    }
    
}