@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Primary-Color: #c100cc;
    --Secondary-Color: #600080;
    --bg: #005bf01c;
    --black: #333;
    --white: #fff;
}

/* global css start here */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.4;
}

/* .pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.ptb-30{
    padding: 30px 0;
} */
.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.ptb-50 {
    padding: 50px 0;
}

.pb-70 {
    padding-bottom: 70px;
}

.ptb-70 {
    padding: 70px 0;
}

/* global css end here */


/* header section css start  */
.site-header {
    padding: 15px 0;
    /* box-shadow: #00000038 0px 4px 10px 0px; */
    position: relative;
    z-index: 9;
    background-color: #fff;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    box-shadow: #00000038 0px 4px 10px 0px;

}

.site-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav {
    width: 33%;
}
.site-logo {
    width: 33%;
    display: flex;
    justify-content: center;
}
.site-logo img {
    max-width: 180px;
}

.main-nav ul {
    display: flex;
    align-items: center;
}

.main-nav ul li {
    margin: 0px 15px;
}

.main-nav ul li a {
    font-size: 1.125rem;
    color: var(--black);
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.main-nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: var(--Primary-Color);
    transition: all 0.3s linear;

}

.main-nav ul li a:hover::before,
.main-nav ul li a.active::before {
    width: 100%;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    color: var(--Primary-Color);
}

.close,
.toggle {
    display: none;
}
.header-right {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 33%;
    gap: 5px;
}
.serch-bar input {
    padding: 7px;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
}
.user-cart{
    /* display: none; */
}
.user-cart ul {
    display: flex;
    align-items: center;
}
.user-cart ul li a {
    font-size: 1.25rem;
    color: #333;
    /* padding-left: 15px; */
}
.user-cart ul li{
    line-height: normal;

}
.site-header .container{
    max-width: 1800px;
}
.search-icon{
    /* display: none; */
}
/* header section css end */
.site-banner {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.site-banner-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: rgb(96,0,128);
        background: linear-gradient(134deg, #600080 21%, #7d0e84 47%, #c731cf 83%); */
    opacity: 0.6;
    backdrop-filter: blur(5px);
    background-color: #000;
}

.site-banner-overlay {
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    /* filter: blur(100px); */
    /* -webkit-filter: blur(100px); */
}

.site-banner .container {
    height: 100%;
}

.site-banner .row {
    position: relative;
    z-index: 9;
    height: 100%;
    align-items: center;
    padding: 20px 0;
}

.banner-text p {
    font-size: 1.875rem;
    color: #fff;
}

.banner-imgs {
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.bnr-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 49%;
}

.left-top,
.left-bottom {
    height: 49%;
    border-radius: 20px;
    overflow: hidden;
}

.bnr-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bnr-right {
    width: 49%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.bnr-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* banner css end */

/* arrivals section css start  */
.arrivals-wrap {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 3px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 100%;
}
.rugby-wrap .col-md-4, .rugby-wrap .col-md-6 {
    margin-bottom: 30px;
}

.football-main .arrivals-img {
    height: auto;
}
.arrivals-img {
    height: 300px;
    overflow: hidden;
    padding: 20px;
}
.arrivals-img a{
    position: relative;
    display: inline-block;

}
.arrivals-img a::before, .news-img a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #ffffff6b;
}
.news-img a{
    position: relative;
}

.arrivals-img a:hover::before, .news-img a:hover::before{
    height: 100%;
}
.arrivals-img img {
    height: 100%;
    width: 100%;
    object-fit: unset;
    background-color: #eee;
}

.arrivals-text h4 {
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 600;

}

a.buynow {
    padding: 10px 50px;
    background: #600080;
    border: 1px solid #600080;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s linear;
}
a.buynow:hover{
 color: #600080;
 background-color: transparent;
}

.arrivals-text {
    text-align: center;
    padding: 15px 20px;
}

.site-heading h3 {
    font-size: 1.875rem;
    margin-bottom: 5px;
    color: #600080;
}

.site-heading p {
    font-size: 1rem;
    color: #333;
}

.site-heading {
    margin-bottom: 30px;
}

/* arrivals section css end */
/* link card css start  */
.link-wrap {
    background-image: url(../images/linkCard1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
/* Circle */
.link-wrap a{
    position: relative;
}
.link-wrap a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	/* border-radius: 100%; */
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.link-wrap a:hover::after {
	animation: circle 0.90s;
	-webkit-animation: circle 0.90s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.link-wrap a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.link-wrap a h4 {
    font-size: 1.5625rem;
    color: #fff;
    position: relative;
}

.link-wrap a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

/* link card css end */

/* news section css start */
.news-img a img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.news-img a {
    display: inline-block;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
}
.news-heading h4 {
    font-size: 1.5625rem;
    line-height: 1.1;
    color: #000;
    margin-top: 10px;
    font-weight: 600;
}
.news-wrap {
    margin: 30px 0;
}
/* news section css end */

/* newsletter section css start */
section.newsletter {
    background: #e8e8e8;
    padding: 50px 0;
}
.newsletter-wrap {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #fff;
}
.newsletter-heading h4 {
    font-size: 1.5625rem;
    margin-bottom: 10px;
    color: #6a0088;
}
.newsletter-heading p{
    font-size: 1rem;
    color: #333;
}
.news-form input {
    height: 45px;
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #e8e8e8;
}
.news-form button {
    width: 19%;
    height: 45px;
    border: none;
    background: #6a0088;
    color: #fff;
    font-size: 1rem;
}
:focus-visible {
    outline: none;
}
/* newsletter section end */
/* footer css start */
.site-footer {
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-logo{
    margin-bottom: 30px;
}
.social-icn ul li a img {
    width: 25px;
    margin-right: 5px;
}

.social-icn ul li a {
    font-size: 1.125rem;
    color: #000;
    display: flex;
    align-items: center;
}
.social-icn ul li{
    margin: 10px 0;
}
.footer-heading h4 {
    font-size: 1.5625rem;
    margin-bottom: 30px;
    color: #000;
}
.footer-links ul li a {
    font-size: 1.125rem;
    color: #000;
}
.footer-links ul li{
    margin: 10px 0;
}
.footer-links ul li a:hover{
    color: #600080;
    text-decoration: underline;
}
/* footer css end */

/* sub pages css start  */
.sub-banner{
    background-image: url(../images/linkCard1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
.sub-banner-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.sub-banner-content h2{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}
.sub-banner-content p{
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
}
.price h5 {
    font-size: 1.25rem;
}
.rugby-wrap {
    margin: 30px 0;
}
.privacy-wrap p{
    font-size: 1rem;
    margin-bottom: 10px;
}
.privacy-wrap{
    margin-bottom: 30px;
}
.privacy-wrap ul{
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
}
.paytem-wrap {
    height: 100px;
    width: 100px;
    background: #e8e8e8b8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paytem-wrap img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.paytem-links ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.paytem-links li {
    margin: 0px 0 !important;
}
.copy-right {
    text-align: center;
    border-top: 1px solid #eee;
    margin-top: 30px;
    padding-top: 20px;
}
.copy-right p{
    font-size: 1rem;
    margin-bottom: 0;
}
/* sub pages css end */